body{
margin-top: 0;

}

#navbarNav{

}
.navbar-brand{
    margin-right: 700px;
}

.home-pic{
  height: 500px;
}
#home{
  text-align: center;
}

#products{

  text-align: center;
  padding-top: 100px;


}
